<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.main_hu4_prueba">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/iderbus"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iderbus_round"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Datos_conductor" />
        <activity android:name=".mapa_drawingRoute" />
        <activity android:name=".mapa_prueba" />
        <activity android:name=".pasajero_seleccionar_parada" />
        <activity android:name=".ModificarParada_datos" />
        <activity android:name=".perfil_conductor" />
        <activity android:name=".dePrueba" />
        <activity android:name=".Mapa_GSM" />
        <activity android:name=".activity_historico" />
        <activity android:name=".eliminar_parada_conductor" />
        <activity android:name=".modificar_parada_condutor" />
        <activity android:name=".pasajero_seleccionar_ruta" />
        <activity android:name=".panel_opcion_pasajero" />
        <activity android:name=".panel_opcion_conductor" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDAS1HctdqXPvnZhsNH60xWsm9TR_KZ4aM" />

        <activity android:name=".Mapa_SigFox" />
        <activity android:name=".init_app_as" />
        <activity android:name=".Signin_user" />
        <activity android:name=".login_user" />
        <activity android:name=".registrar_parada_conductor" />
        <activity android:name=".opcion_paradas_conductor" />
        <activity android:name=".MainActivity_hu4p">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>